// colors
$white :        	#ffffff;
$black :        	#000000;
$grey9 :                #999999;

$grayDark :     	#aaaaaa;
$gray :         	#DDDDDD;
$grayLight :    	#eeeeee;

$snBlue :       	#1f4363;
$snBlueLight :  	#355673;
$snBlueLighter :    #6c869d;
$snBlueUltraLight : #e2e7eb;
$snBlueDark :		#0e2c47;
$snBlueDarker :		#212939;
$snBlueHover : 		#7e99b3;

$red :          	#c64308;

$yellow : 			#f2b032;

// widths
$node_profile_width: 250px;
$node_profile_tablet_width: 180px;
$ad_width: 300px;
