// colors
$white :        	#ffffff;
$black :        	#000000;
$grey9 :                #999999;

$grayDark :     	#aaaaaa;
$gray :         	#DDDDDD;
$grayLight :    	#eeeeee;

$snBlue :       	#1f4363;
$snBlueLight :  	#355673;
$snBlueLighter :    #6c869d;
$snBlueDark :		#0e2c47;
$snBlueDarker :		#212939;
$snBlueHover : 		#7e99b3;

$red :          	#c64308;

// widths
$node_profile_width: 250px;
$node_profile_tablet_width: 180px;
$ad_width: 300px;


$skBlue :       	#0084a5;
$skBlueMedLight:	#339DB7;
$skBlueLight :  	#03BDDF;
$skBlueLighter :    #CCE5ED;
$skBlueUltraLight : #9ff0ff;
$skBlueDark :		#019fc2;
$skBlueDarker :		#116186;
$skBlueDarkest :	#03b3d3;
$skBlueHover : 		#bfdadf;

$red :          	#c64308;