/* Curiosity
 * --------------------------------------- */

// @import url("https://www.sciencenews.org/profiles/sn/themes/ssp/css/ssp-sn-default-desktop.css");
// @import url("https://www.sciencenews.org/profiles/sn/themes/ssp/css/ssp-sn-default-tablet.css");
// @import url("https://www.sciencenews.org/profiles/sn/themes/ssp/css/ssp-sn-default-wide.css");

body {
	font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
a {
	font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	color: #000;
	margin: 0px 0px;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

p,
a {
	font-size: 16px;
	font-weight: normal;
  	line-height: 22px;
}

 /* SSP masthead
* --------------------------------------- */
#header {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
	top:0px;
}

.clearfix:after {
    content: "";
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
body, #zone-nav-wrapper, #toolbar {
    min-width: 320px;
}
header .block-title {
	display:none;
}
#header {
    width:100%;
    position:fixed;
    height:40px;
    border-top:2px solid #369dbf;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    z-index: 499;
    background: #106185;
    background-image:none;
}

#zone-nav-wrapper {
    background: none repeat scroll 0 0 #1f4363;
    border-top: 2px solid #6c869d;
    height: 40px;
    left: 0;
    position: fixed;
    right: 0;
    top: 2;
    z-index: 499;
}
#zone-nav-wrapper {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#hsl(0, 0%, 78%)')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#hsl(0, 0%, 78%)');*/
    height: 40px;
    left: 0;
    position: fixed;
    right: 0;
    top: 2;
    z-index: 499;

}

.container-3 {
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
}

.grid-1, .grid-2, .grid-3 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.grid-3 {
    width: 1180px;
}

#mobile-nav-bar {
    display: none;
}
#mobile-nav-bar {
    z-index: 499;
}
.contextual-links-region {
    outline: medium none;
    position: relative;
}

#block-sn-profile-sn-newsletter, #block-sn-profile-sn-account {
    clear: none;
    display: block;
    float: right;
}

.newsletter-link {
    color: hsl(0, 0%, 100%);
    float: right;
    font-size: 11px;
    height: 40px;
    line-height: 43px;
    padding: 0 10px;
    border-right: 1px solid #355673;
}
.newsletter-link a {
    color:#ffffff;
    text-decoration: none;
    line-height: 43px;
    font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
    font-weight:normal;
    font-size: 11px;
}
.newsletter-link a:hover {
    text-decoration:underline;
}

#block-sn-profile-sn-newsletter h2.block-title, #block-sn-profile-sn-account h2.block-title {
    display: none;
}

html.js div.contextual-links-wrapper {
    display: block;
}

#block-sn-profile-sn-account .user-picture {
    float: right;
    height: 40px;
    overflow: hidden;
    width: 40px;
}
#zone-nav-wrapper img {
    height: auto !important;
    max-width: 100%;
}
#zone-nav-wrapper img {
    height: auto;
    max-width: 100% !important;
}

#block-sn-profile-sn-account .user-links, #block-sn-profile-sn-account .join-link {
    background: #0e2c47;
    color: #ffffff;
    float: right;
    font-size: 11px;
    height: 40px;
    line-height: 43px;
    padding: 0 10px;
}

#block-sn-profile-sn-account .join-link {
    background: none repeat scroll 0 0 transparent;
}

#block-sn-profile-sn-account .user-links a, #block-sn-profile-sn-account .join-link a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 11px;
    line-height: 43px;
    font-weight: normal;
}

a.context-block {
    display: none !important;
}

#block-menu-menu-social-media {
    border-right: 1px solid #355673;
    display: block;
    float: right;
}

.contextual-links-region {
    outline: medium none;
    position: relative;
}

#block-menu-menu-social-media h2.block-title {
    display: none;
}




#block-menu-menu-social-media ul.menu {
    height: 30px;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

#block-menu-menu-social-media ul.menu li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}
#block-menu-menu-social-media ul li {
  padding:0;
}
#block-menu-menu-social-media img {
    height:30px;
    width: 30px;
    margin-right:5px;
}



html.js div.contextual-links-wrapper {
    display: block;
}



ul.menu {
    border: medium none;
    list-style: none outside none;
    text-align: left;
}



a.context-block {
    display: none !important;
}

#block-menu-menu-sections {
    display: block;
    float: left;
}
ul.menu {
    border: medium none;
    list-style: none outside none;
    text-align: left;
}
#block-menu-menu-sections ul.menu {
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#block-menu-menu-sections ul.menu {
    border-left: 1px solid #355673;
}

#block-menu-menu-sections ul.menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#block-menu-menu-sections ul.menu li a {
    border-right: 1px solid #369dbf;
    color: hsl(192, 30%, 87%);
    display: block;
    font-family: "Lato",Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    height: 40px;
    line-height: 43px;
    padding: 0 10px;
    text-decoration: none;
    	&:hover {
    		color: #fff;
    	}
}
#block-menu-menu-sections ul.menu li a {
    font-size: 15px;
    padding: 0 15px;
}

#block-menu-menu-sections ul.menu li.first a {
    padding: 0 10px;
    border-left: 1px solid #355673 ;
}

#block-menu-menu-sections ul.menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#block-menu-menu-sections ul.menu li a {
    border-right: 1px solid #355673;
    color: hsl(192, 30%, 87%);
    display: block;
    font-family: "Lato",Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    height: 40px;
    line-height: 43px;
    padding: 0 10px;
    text-decoration: none;
}
#block-menu-menu-sections ul.menu li a {
    font-size: 15px;
    padding: 0 12px;
}
#block-menu-menu-sections ul.menu li.first a {
    padding: 0 10px;
}

#block-menu-menu-sections ul.menu li.last a {
    padding: 0 15px 0 14px;
}

#block-menu-menu-sections ul.menu li a.active, #block-menu-menu-sections ul.menu li a.active-trail {
    background: none repeat scroll 0 0 #6c869d;
    color: white;
}


#block-menu-menu-sections ul.menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

div.context-block-region {
    display: none;
}

#block-menu-menu-social-media ul.menu li a {
	display: block;
	height: 30px;
  	width: 30px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	text-indent: -9999em;
		&.twitter {
			background-image: url("https://www.sciencenews.org/profiles/sn/themes/ssp/i/nav-twitter.svg");
				&:hover {
					background-image: url("https://www.sciencenews.org/profiles/sn/themes/ssp/i/nav-twitter-hover.svg");
				}
		}
		&.facebook {
			background-image: url("https://www.sciencenews.org/profiles/sn/themes/ssp/i/nav-facebook.svg");
				&:hover {
					background-image: url("https://www.sciencenews.org/profiles/sn/themes/ssp/i/nav-facebook-hover.svg");
				}
		}
		&.google {
			background-image: url("https://www.sciencenews.org/profiles/sn/themes/ssp/i/nav-google.svg");
				&:hover {
					background-image: url("https://www.sciencenews.org/profiles/sn/themes/ssp/i/nav-google-hover.svg");
				}
		}	
		&.donate {
			width: auto;
  			text-indent: 0;
  			color: white;
  			font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
  			font-size: 11px;
  			text-decoration: none;
  			line-height: 11px;
  			height: 11px;
  			float: left;
  			margin: 1px 10px 0 10px;
  			padding: 8px 10px 8px 10px;
  			background: #6c869d;
  			padding: 8px 10px 8px 10px;
  			border: 1px solid #1f4363;
  			outline: 1px solid #6c869d;
  				&:hover {
  					background: #7e99b3;
  					outline: 1px solid #7e99b3;
  				}
		}	
}





/***********Custom***********/
/**Header **/
#mobile-nav-bar {
    display:none;
}
.left {
    float:left;
}
.right {
    float:right;
}

#or {
    padding:0!important;
}

#newsletter {
    background:none!important;
}

/****************************************
Mobile
*****************************************/
@media (max-width : 768px){
    /**Header Meau**/
    #header {
        height:50px;
        background:#006180;
    }
    #zone-nav-wrapper{
        display:none;
    }
    #mobileNav {
        display:block;
    }
    #mobileNav img {
        max-width:180px!important;
        display:block;
        margin:0 auto;
        margin-top:12px;
    }
}

 /* Curiosity Nav
* --------------------------------------- */

// .nav-wrapper {
// 	display: none;
// 	position:absolute;
// 	top:1000px;
// 	left:10%;
// 	width: 940px;
// 	height: 263px;
// 	z-index: 10;
// 	background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/curiosity-nav.jpg");
// 	background-repeat: no-repeat;;
// 	background-position: left top;
// 		input {
// 			width: 265px;
//     		border: 1px solid #ccc;
//     		padding: 8px;
//     		font-size: 15px;
//     		transition: width 0.2s;
//    			 -webkit-appearance: none;
//   		}
//   &.nav-wrapper-moving {
    
//   }
// }


// #curiosity-nav {
// 	position: absolute;
// 	bottom: 0;
// 	height: 26px;
// 	z-index: 70;
// 	width: 100%;
// 	padding: 0;
// 	margin:0;
// 		li {
// 			display:inline-block;
// 			margin: 0px;
// 			color: #000;
// 			background:#fff;
// 			background: rgba(255,255,255, 0.5);
//             	a {
//             		display:block;
//             		padding: 13px 5px;
//             		text-decoration:none;
//             		color: #000;
//             	}
//             	&.active {
//             		background:#666;
// 					background: rgba(0,0,0, 0.5);
// 					color: #fff;
//             			a {
//             				display:block;
//             				padding: 13px 5px;
//             				color: #fff;
//             					&:hover {
//             						color: #000;
//             					}
//             			}
//             	}
//             	&:hover {
//     				background: rgba(255,255,255, 0.8);
//     			}
//                 &[data-menuanchor='00'] {
//                     display: none;
//                 } 
//     	}           
// }

// .map-wrapper {

// }


.mars-nav-wrapper.mars-nav-wrapper-moving {
    position: fixed;
    z-index: 99;
    top: 0px;
}

.mars-nav-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1054px;
    height: 126px;
    z-index: 10;
    background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/map/map_sol_001.png");
    background-repeat: no-repeat;;
    background-position: left top;
    background-size: 100%;
    transition: all 0.5s ease;
        // &.mars-nav-wrapper-moving {
        //     position: fixed;
        //     z-index: 99;
        // }
    .map-wrapper {
        min-height: 105px;
    }

    #mars-curiosity-nav {
        height: 20px;
        z-index: 70;
        width: 100%;
        padding: 0;
        margin:0;
            li {
                display:inline-block;
                float: left;
                margin: 0px;
                color: #000;
                background:transparent;
                    a {
                        display:block;
                        font-size: 12px;
                        padding: 2px 6px;
                        text-decoration:none;
                        color: #000;
                        background: #fff;
                        border-right: solid 1px #9d9d9d;
                            &:hover {
                                background:#000;
                                color: #fff;
                            }
                    }
                        &.active {
                            
                                a {
                                    display:block;
                                    padding: 2px 6px;
                                    background:#000;
                                    color: #fff;
                                        &:hover {
                                            color: #fff;
                                        }
                                }
                        }
                &:hover {
                    background: #000;
                }
                &[data-menuanchor='Section0'] {
                    display: none;
                } 
                &:last-child {
                    a {
                        border-right: none;
                    }
                }
        }           
}

}





/* Defining each section background and styles
* --------------------------------------- */
#section0 {
	background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/curiosity-portrait.jpg");
	padding: 0 0 0 0;
	background-position: center;
}

/* Structure
* --------------------------------------- */
#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9,
#section10,
#section11,
#section12,
#section13,
#section14,
#section15,
#section16,
#section17,
#section18,
#section19 {
    height: auto !important;
        .fp-tableCell {
        height: auto !important;
        padding-bottom: 90px;
        }
}

#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9,
#section10,
#section11,
#section12,
#section13,
#section14,
#section15,
#section16,
#section17,
#section18,
#section19 {
        .intro {
            padding-top: 170px;
        }
}

.section {
	background-size: cover;
    //
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 22px;
            line-height: 30px;
        }
        .fw-section {
            //padding-top: 3.6%;
            height: auto !important;
        }
            
        div.tweet {
            border-bottom: solid 1px #000;
            padding-bottom: 10px;
            margin-bottom: 10px;
                iframe.twitter-tweet {
                    width: 100% !important;
                }
        }
        .cont-l {
            float: left;
            width: 45%;
            margin-bottom: 10px;
                .cont-l-content {

                }
        }
        .cont-r {
            float: right;
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: center;
                .cont-r-content {
                    padding: 10% 0;
                      text-align: center;
                        .cont-r-content-wrapper {
                            max-width: 90% !important;
                            margin: 0 auto;
                                .cont-caption-content {
                                    background: #000;
                                        p {
                                            color: #fff;
                                            padding: 5px;
                                            font-size: 13px;
                                            line-height: 16px;
                                            text-align: left;
                                        } 
                                }
                                .cont-r-vertical {
                                    margin-bottom: 3px;
                                }
                                img {
                                    width: 100%;
                                }
                        }
                }
                .cont-content {
                    float: left;
                        iframe {
                            float: left;
                        }
                }
                &.two-images {
                    div {
                        display: block;
                    }
                }
        }        

        .video {
            max-height: 303px;
            margin: 0px 0px 20px 20px;
        }
        .fishback {
            margin-top: 20px;
            ul  {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    padding: 0px 0px 13px 35px;
                    margin-bottom: 5px;
                    background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/curiosity-fishback-small.png");
                    background-position: center left;
                    background-repeat: no-repeat;
                    a {
                        color: #5b4b20;
                        text-decoration: none;
                        font-weight: 700;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                }
            }
        }
        .cont-b {
            display: flex;
            width: 100%;
            float: left;
            margin-top: 40px;
                .cont-b-content {
                    display: block;
                    margin: 0 auto;
                        .cont-b-image {
                            display: block;
                                ul.cont-b-gallery {
                                    margin: 0;
                                    padding: 0;
                                    float: left;
                                        li {
                                            list-style: none;
                                            float: left;
                                            padding: 0;
                                            margin-right: 2px;
                                                img {
                                                    max-width: 230px !important;
                                                    max-height: 230px !important;
                                                }
                                        }
                                }
                        }
                }
            .bottom-caption {
                width: 100%;
                max-height: 50px;
                display: block;
                position: absolute;
                bottom: 0;
                background: #000;
                padding: 5px 0px;
                    .bottom-caption-content {
                        margin: 0 auto;
                        width: 1054px;
                            p {
                                color: #fff;
                                font-size: 13px;
                                line-height: 16px;
                            }
                    }
            }
        }
        div.cont-caption {
            display: block;
            //width: 100%;
            clear: both;
            background: #000;
                p {
                    color: #fff;
                    padding: 5px;
                    font-size: 13px;
                    line-height: 16px;
                }       
                .cont-caption-content {
                    
                }
        }
        div.gallery-caption {
            // clear: both;
            display: block;
            max-width: 230px;
            // float: left;
            background: #000;
            margin-top: -3px;
                .gallery-caption-content {
                    padding: 5px;
                }
                p {
                    color: #fff;
                    font-size: 13px;
                    line-height: 16px;
                }
        }
        .full-width-caption {
                background: #000;
                width: 80%;
                margin: 0 auto;
                    .full-width-caption-content {
                        padding: 5px;
                            p {
                                color: #fff;
                                text-align: left;;
                                font-size: 13px;
                                line-height: 16px;
                            }
                    }
        }
        .caption-credit {
            text-transform: uppercase;
            text-align: right !important;
            font-size: 10px !important;
        }
}

.section:nth-child(odd) {
    background-color: #f2ede6;
}

.intro,
.fw-section-content {
	width: 1054px;
	margin: 0 auto;
}

.bottom-caption-content {
    margin: 0 auto;
}

.fp-tableCell {
    width: 1054px;
    //height: auto !important;
}



#section0 {
	h1,
	h2,
	h3,
	h4,
	p,
	a {
		color: #fff;
		} 
	h1 {
     font-size: 60px;
    }
	.fp-tableCell {
			vertical-align: bottom;
		}	
	.intro {
			padding-bottom: 7%;
		}
    .curiosity-branding {
        padding-bottom: 20px;
        img {
            opacity: .8;
        }
    }
    p.intro-sub {
        font-size: 20px;
        line-height: 22px;
    }
	p.authoring { 
        margin-top: 10px;
        font-size: 11px;
	}
}

#section1 {
    .cont-l,
    .cont-r {
        margin-top: 60px;
    }
    // .cont-b {
    //  margin-bottom: 170px;
    //  }
	.fp-tableCell {
			vertical-align: top;
		}	
    .fw-section {
			padding: 2% 0% 2% 0% !important;
            background-color: #f2ede6;
		}
        .fw-section-content {
            p {
                font-size: 20px;
                line-height: 26px;
        }
}		
}

#section2 {
    
        .cont-b {
            position: relative;
            bottom: 0;
            min-height: 285px;
            background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/02_Aug/sol2_tire_tracks.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left bottom;
        }
}

#section3 {

        .cont-b {
            position: relative;
            bottom: 0;
            min-height: 323px;
            background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/03_Oct/sol3_rocknest_pano.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left bottom;
        }
}

#section7 {

        .cont-b {
            position: relative;
            bottom: 0;
            min-height: 323px;
            background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/07_Sept/PIA17361.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left bottom;
        }
}


#section8 {
 //    background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/08_Nov/nov8_bottom_team.jpg");
	// background-repeat: no-repeat;
	// background-size: cover;
 //        .cont-l {
 //            background-color: #fff;
 //                .cont-l-content {
 //                    padding: 10px;
 //                }
 //        }
 //        div.tweet {
 //            border: none !important;
 //        }
         .cont-b {
            position: relative;
            bottom: 0;
            min-height: 379px;
            background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/08_Nov/nov8_bottom_team.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left bottom;
        }
}

#section12 {

        .cont-b {
            position: relative;
            bottom: 0;
            min-height: 323px;
            background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/12_June/june17_bottom_stereo.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left bottom;
        }
}

#section16 {
    background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/16_Sept/sept11_bottom_mtsharp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        .cont-l {
            background-color: #fff;
                .cont-l-content {
                    padding: 10px;
                }
        }
        div.tweet {
            border: none !important;
        }
}

#section20 {
        // .cont-b {
        //     position: relative;
        //     bottom: 0;
        //     min-height: 700px;
        //     background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/19_Spring-Summer/springsummer_bottom_landscape.jpg");
        //     background-repeat: no-repeat;
        //     background-size: 100%;
        //     background-position: left bottom;
        // }
    background-image: url("http://federicocastaneda.github.io/curiosity-interactive/images/19_Spring-Summer/springsummer_bottom_landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        .cont-l {
            background-color: #fff;
                .cont-l-content {
                    padding: 10px;
                }
        }
        div.tweet {
            border: none !important;
        }        
}

/* Custom Slider
* --------------------------------------- */

.jssora03l, 
.jssora03r {
    display: block;
    position: absolute;
        /* size of arrow element */
    width: 55px;
    height: 55px;
    top: 123px;
    cursor: pointer;
    background: url("http://federicocastaneda.github.io/curiosity-interactive/images/a03.png") no-repeat;
    overflow: hidden;
}
.jssora03l {
    left: 8px;
}
.jssora03r {
    right: 8px;
}
.jssora03l { 
    background-position: -3px -33px;
}
.jssora03r { 
    background-position: -63px -33px; 
}
.jssora03l:hover { 
    background-position: -123px -33px; 
}
.jssora03r:hover { 
    background-position: -183px -33px; 
}
.jssora03r.jssora03rdn { 
    background-position: -303px -33px; 
}
[u='slides'],
.slide-wrapper {
    padding-bottom: 47px;
} 
.slider-caption {
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    width: 100%;
    height: auto;
    background: #000;
    padding-top: 5px;
    padding-bottom: 5px;
        p {
            color: #fff;
            font-size: 13px;
            line-height: 16px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: left;
        }
}
// .slider-caption-content {
//     padding-bottom: 5px;
// }

/* MEDIA QUERIES
* --------------------------------------- */
@media (max-width : 1053px){
    // .mars-nav-wrapper {
    // left: 0;
    // right: 0;
    // width: 1024px;
    // }
    // .intro,
    // .fw-section-content {
    //     width: 78% !important;
    // }    
    // .bottom-caption-content {
    //     margin: 0 auto;
    //     width: 78% !important;
    // }
    #mars-nav-wrapper {
        display: none !important;
    }
    .section {
        .cont-l,
        .cont-r {
            width: 50%;
            padding: 2% 20%;
            float: none;
            display: block;
                .cont-r-content {
                    padding: 0;
                }
        }
    }
    #section1,
    #section2,
    #section3,
    #section4,
    #section5,
    #section6,
    #section7,
    #section8,
    #section9,
    #section10,
    #section11,
    #section12,
    #section13,
    #section14,
    #section15,
    #section16,
    #section17,
    #section18,
    #section19 {
        height: auto !important;
            .fp-tableCell {
            height: auto !important;
            padding-bottom: 50px;
            }
    }

    #section2,
    #section3,
    #section4,
    #section5,
    #section6,
    #section7,
    #section8,
    #section9,
    #section10,
    #section11,
    #section12,
    #section13,
    #section14,
    #section15,
    #section16,
    #section17,
    #section18,
    #section19 {
            .intro {
                padding-top: 50px;
            }
    }    
}